<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini_whatsapp</title>
</head>
<body>

    <h3>edit chat...</h3>
    <p>Edit your chat :<%=chats.id%></p>
    <p>this chat was sent from <%=chats.from%>to<%=chats.to%></p>
    <form  method="post" action="/chats/<%=chats._id%>?_method=PUT">
        <textarea name="msg" rows="5"  cols="10"><%=chats.msg%></textarea>
        <button>Edit</button>
    </form>
</body>
</html>